// Navbar, footer, buttons, links, etc
@import "common";

@dark: #30362f;
@headerFooterText: rgb(228, 228, 228);

#navbar,
#footer {
  width: 100%;
  text-align: center;
  background-color: @dark;
  .basicShadow(1, @dark);

  display: flex;
  justify-content: space-around;

  * {
    color: @headerFooterText;
  }

  a {
    text-decoration: none;
    &:hover {
      @n: 235;
      color: multiply(@headerFooterText, rgb(@n, @n, @n));
    }
  }
}

#footer {
  position: absolute;
  bottom: 0%;
  height: @footerHeight;
  align-items: center;
}

.deleteBtn,
.unregisterBtn {
  width: fit-content;
  height: fit-content;
  border: 0;

  background-color: @redAccent;
  color: white;

  &:hover {
    background-color: rgb(190, 39, 39);
  }
}

.deleteBtn {
  padding: 8px;
  font-weight: bold;
  border-radius: 5px;
  .basicShadow(1.4, gray);
}
.unregisterBtn {
  border-radius: 3px;
  .basicShadow(1.1, gray);
}
