@footerHeight: 50px;

@bg: rgb(235, 235, 235);
@itemColor: rgb(240, 240, 240);
@redAccent: #93032E;

.basicShadow(@scale, @color) {
    box-shadow: 0 @scale*1px @scale*4px @color;
}

.squareMinMaxHW(@min, @max) {
    min-width: @min;
    min-height: @min;
    max-width: @max;
    max-height: @max;
}

.maxHW(@h, @w) {
    max-height: @h;
    max-width: @w;
}
.minHW(@h, @w) {
    min-height: @h;
    min-width: @w;
}
